name: ShellCheck

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  shellcheck:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update ShellCheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck
          shellcheck -V

      - name: ShellCheck
        run: git ls-files | grep -E '\.(ba)?sh' | xargs shellcheck
